{% block navbar %}
 
<!--BY DEFAULT, WE CAN ALLOW MAX OF 3 LEVEL NAVBAR -->

<div class="nav-container">
    <a id="top"></a>
    <nav class="">
        <div class="nav-bar">

        	<!-- Logo -->
            <div class="module left">
                <a href="/home">
                    <img class="logo logo-light" alt="STAC logo" src="{{ aboutus['logo']['stac']['light'] }}">
                    <img class="logo logo-dark" alt="STAC logo" src="{{ aboutus['logo']['stac']['black'] }}">
                </a>
            </div>
            <!-- End of Logo -->


            <!-- Mobile Widget Button -->
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>
            <!-- End of Mobile Widget Button -->


            <!-- NavBar Content -->
            <div class="module-group right">

                <!-- Left Menu -->
                <div class="module left">
                    <ul class="menu">

                        <!-- First Degree Navbar -->
                        {% for label, value in navbar['left-menu'].items() %}

                            {% if value is mapping %}
                                <!-- Second Degree Navbar -->
                                <li class="has-dropdown">
                                    <a href="#">{{label}}</a>
                                    <ul>
                                        {% for label2, value2 in value.items() %}
                                            {% if value2 is mapping %}

                                                <!-- Third Degree Navbar -->
                                                <li class="has-dropdown">
                                                    <a href="#">{{ label2 }}</a>
                                                    <ul>
                                                        {% for label3, value3 in value2.items() %}
                                                            <li><a href="{{ value3 }}">{{ label3 }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                                <!-- End of Third Degree Navbar -->
                                            {% else %}

                                            <li><a href="{{ value2 }}">{{ label2 }}</a></li>

                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                                <!-- End of Second Degree Navbar -->
                            {% else %}

                            <li><a href="{{ value }}">{{ label }}</a></li>
                            
                            {% endif %}
                        {% endfor %}
                        <!-- End of First Degree Navbar -->
                    </ul>
                </div>
                <!-- End of Left Menu -->

                {% if navbar['right-menu-enabled'] %}
                    <!-- Right Menu -->
                    <div class="module widget-handle left">
                        <ul class="menu">
                            <!-- First Degree Navbar -->
                            {% for label, value in navbar['right-menu'].items() %}

                                {% if value is mapping %}
                                    <!-- Second Degree Navbar -->
                                    <li class="has-dropdown">
                                        <a href="#">{{label}}</a>
                                        <ul>
                                            {% for label2, value2 in value.items() %}
                                                {% if value2 is mapping %}

                                                    <!-- Third Degree Navbar -->
                                                    <li class="has-dropdown">
                                                        <a href="#">{{ label2 }}</a>
                                                        <ul>
                                                            {% for label3, value3 in value2.items() %}
                                                                <li><a href="{{ value3 }}">{{ label3 }}</a></li>
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                    <!-- End of Third Degree Navbar -->
                                                {% else %}

                                                <li><a href="{{ value2 }}">{{ label2 }}</a></li>

                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    <!-- End of Second Degree Navbar -->
                                {% else %}

                                <li><a href="{{ value }}">{{ label }}</a></li>
                                
                                {% endif %}
                            {% endfor %}
                            <!-- End of First Degree Navbar -->
                        </ul>
                    </div>
                    <!-- End of Right Menu -->
                {% endif %}

            </div>
            <!-- End of NavBar Content -->
         
        </div>
    </nav>
</div>

{% endblock %}