{% extends 'core.html' %}

{% block title %}
    <title> {{ config['title'] }} | Space Technologies at Cal</title>
{% endblock %}


{% block body %}
<!-- Page Title Section -->
<section class="page-title page-title-4 bg-secondary">
    <div class="container">
        <div class="row">
            <!-- Main Title -->
            <div class="col-md-6">
                <h3 class="uppercase mb0">{{ config['title'] }}</h3>
            </div>
            <!-- End of Main Title -->

            <!-- Breadcrumb -->
            <div class="col-md-6 text-right">
                <ol class="breadcrumb breadcrumb-2">
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="#">Project</a>
                    </li>
                    <li class="active">{{ config['title'] }}</li>
                </ol>
            </div>
            <!-- End of Breadcrumb -->
        </div>
    </div>
</section>
<!-- End of Page Title Section -->

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <!-- Post Content -->
                <div class="post-snippet mb64">
                    <!-- Blog Image -->
                    <img class="mb24 blog-intro-image" alt="{{ config['post-img']['alt'] }}" 
                    src="{{ url_for('static', filename=config['post-img']['url']) }}" />
                    <!-- End of Blog Image -->


                    <!-- Blog Leading Info -->
                    <div class="post-title">
                        <span class="label">{{ config['date'] }}</span>
                        <h4 class="inline-block">
                            {{ config['blog-title'] }}
                        </h4>
                    </div>
                    <ul class="post-meta">
                        {% for label, value in config['blog-info'].items() %}
                        <li>
                            <i class="{{ icon[value['icon']]['ti'] }}"></i>
                            <span>
                                {{ label }}
                                {% for label2 in value['list'] %}
                                    <span class="blog-author">
                                        {{ label2 }}
                                        {% if loop.last %}{% else%},{% endif %}
                                    </span>
                                {% endfor %}
                            </span>
                        </li>
                        {% endfor %}
                    </ul>
                    <hr>
                    <!-- End of Blog Leading Info -->

                    <!--  Blog Content -->
                    {% for paragraph in config['blog-content'] %}
                        {% if paragraph is mapping %}
                            {% if 'type' in paragraph %}
                                {% if 'unordered-list' in paragraph['type'] %}
                                    <!-- Unordered List Paragraph -->
                                    <ul class="bullets">
                                        {% for item in paragraph['content'] %}
                                            <li>{{item |safe }}</li>
                                        {% endfor %}
                                    </ul>
                                    <!-- End of Unordered List Paragraph -->
                                {% elif 'ordered-list' in paragraph['type'] %}
                                     <!-- Ordered List Paragraph -->
                                    <ol class="bullets">
                                        {% for item in paragraph['content'] %}
                                            <li>{{item |safe }}</li>
                                        {% endfor %}
                                    </ol>
                                    <!-- End of Ordered List Paragraph -->
                                {% elif 'image' in paragraph['type'] or 'img' in paragraph['type'] %}
                                    <!-- Image Paragraph -->
                                    <div class="blog-image">
                                        <img src='{{ url_for("static", filename=paragraph["url"]) }}'>
                                        {% if 'caption' in paragraph %}
                                        <p>{{ paragraph['caption']  |safe }}</p>
                                        {% endif %}
                                    </div>
                                    <!-- End of Image Paragraph -->
                                {% else %}
                                    <!-- Custom Typed Paragraph with Custom Class -->
                                    <{{paragraph['type']}} class="{% if 'class' in paragraph %} {{ paragraph['class'] }}{% endif %}">
                                            {{ paragraph['content']  |safe }}
                                    </{{paragraph['type']}}>
                                    <!-- End of Custom Typed Paragraph with Custom Class -->
                                {% endif %}
                            {% else %}
                                <!-- Text Paragraph with Custom Class-->
                                <p class="{% if 'class' in paragraph %} {{paragraph['class']}} {% endif %}">
                                    {{ paragraph['content']  |safe }}
                                </p>
                                <!-- End of Text Paragraph with Custom Class -->
                            {% endif %}
                        {% else %}
                            <!-- Text Paragraph -->
                            <p> {{ paragraph  |safe }} </p>
                            <!-- End of Text Paragraph -->
                        {% endif %}
                    {% endfor %}
                    <!--  End of Blog Content -->
                </div>
                <!-- End of Post Content -->

                <!-- Disqus Comment -->
                <div class="disqus-comments" data-shortname="{{ club['disqus-comment-link'] }}">
                    <div id="disqus_thread"></div>
                </div>
                <!-- End of Disqus Comment -->
            </div>
            <!--end of nine col-->
        </div>
        <!--end of container row-->
    </div>
    <!--end of container-->
</section>
{% endblock %}