{% extends 'core.html' %}

{% block title %}
    <title> {{ config['title'] }} | Space Technologies at Cal</title>
{% endblock %}


{% block body %}
<!-- Page Title Section -->
<section class="page-title page-title-4 bg-secondary">
    <div class="container">
        <div class="row">
            <!-- Main Title -->
            <div class="col-md-6">
                <h3 class="uppercase mb0">{{ config['title'] }}</h3>
            </div>
            <!-- End of Main Title -->

            <!-- Breadcrumb -->
            <div class="col-md-6 text-right">
                <ol class="breadcrumb breadcrumb-2">
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="#">Project</a>
                    </li>
                    <li class="active">{{ config['title'] }}</li>
                </ol>
            </div>
            <!-- End of Breadcrumb -->
        </div>
    </div>
</section>
<!-- End of Page Title Section -->

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="post-snippet mb64">
                    <!-- Blog Image -->
                    <img class="mb24" alt="{{ config['post-img']['alt'] }}" 
                    src="{{ url_for('static', filename=config['post-img']['url']) }}" />
                    <!-- End of Blog Image -->


                    <!-- Blog Leading Info -->
                    <div class="post-title">
                        <span class="label">{{ config['date'] }}</span>
                        <h4 class="inline-block">
                            {{ config['blog-title'] }}
                        </h4>
                    </div>
                    <ul class="post-meta">
                        {% for label, value in config['blog-info'].items() %}
                        <li>
                            <i class="{{ value['icon'] }}"></i>
                            <span>
                                {{ label }}
                                {% for label2 in value['list'] %}
                                    <span class="blogAuthor">
                                        {{ label2 }}
                                        {% if loop.last %}{% else%},{% endif %}
                                    </span>
                                {% endfor %}
                            </span>
                        </li>
                        {% endfor %}
                    </ul>
                    <hr>
                    <!-- End of Blog Leading Info -->

                    <!--  Blog Content -->
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
                    </p>
                    <blockquote>
                        It's our challenges and obstacles that give us layers of depth and make us interesting. Are they fun when they happen? No. But they are what make us unique. And that's what I know for sure... I think.
                    </blockquote>
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                    </p>
                    <ul class="bullets">
                        <li>Beatae vitae dicta sunt explicabo</li>
                        <li>Inventore veritatis et quasi architecto</li>
                        <li>Sed do eiusmod tempor incididunt</li>
                        <li>Accusamus et iusto odio dignissimos ducimus</li>
                    </ul>
                    <!--  End of Blog Content -->
                </div>

            </div>
            <!--end of nine col-->
        </div>
        <!--end of container row-->
    </div>
    <!--end of container-->
</section>
{% endblock %}